/* Zachary Prongua - 03/27/2023 - index.css */
/* Hard reset of all styling */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Google Font for Name */
@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/novaoval-regular-webfont.woff2') format('woff2'),
        url('../fonts/novaoval-regular-webfont.woff') format('woff')
}

/* General Formatting */
html {
    font-family: Calibri, Arial, sans-serif;
    background: #4e89db;
    color-scheme: dark light;
    color: #fff;
}


/* profile pic */
#profile {
    max-width: 100%;
    max-height: 125px;
    border-radius: 40%;
    display: block;
}

figure {
    text-align: center;
}

/* accessibility formatting */
:focus-visible {
    outline: 2px solid forestgreen;
}

/* header formatting */
header {
    color: #b8ddb5;
    float: left;
    width: 100vw;
    display: flex;
    grid-template-columns: auto;
    padding: 2em;
    background: #333;
    align-items: center;
}

.header-name {
    font-size: 4em;
    font-weight: 500;
    padding-left: 0.2em;
    font-family: 'MyWebFont', Calibri, Arial, sans-serif;
}

.header-title {
    font-weight: 100;
    color: orange;
}

/* navigation bar formatting */
nav {
    clear: both;
    position: sticky;
    top: 0;
}

.navbar {
    width: 100svw;
    background: #333;
    display: flex;
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    padding: 0 3em;
    margin: 0;
    position: sticky;
    align-items: left;
}

/* main formatting */
hr {
    width: 80%;
    margin: auto;
}

a {
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
}

a:hover {
    color: #b8ddb5;
}

/* footer formatting */
footer {
    text-align: right;
}

/* Index Page */
main {
    text-align: center;
    align-content: center;
}

/* Projects Page */
.projects-grid {
    display: grid;
    padding: 5%;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

section {
    padding: 1em;
    width: auto;
    background: #333;
    box-shadow: 5px 5px 5px orange;
    border-radius: 5px;
}

section img {
    width: 100%;
    margin: auto;
    aspect-ratio: 1.4;
    border-radius: 5px;
}

section:hover {
    width: 600px;
}

/* Resume Page */
#summary {
    padding: 15px 7%;
    font-size: 17px;
    text-align: justify;
}

.skills {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.skills img {
    width: 45px;
}

.skills tr,
th {
    padding: 10px;
}

.work-title {
    color: orange;
    font-size: 1.75em;
    padding: 0;
    margin-right: auto;
}

.work-dates {
    color: #b8ddb5;
    font-size: 1.4em;
    padding-left: 20px;
    white-space: nowrap;
}

#work {
    text-align: justify;
}

#work dl {
    margin-left: 30px;
    margin-right: 10px;
}

#work dt {
    padding: 10px;
}

/* #work dd {
    padding: 2px;
} */

.work-card {
    background-color: #4e89db;
    box-shadow: 5px 5px 5px #333;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #333;
    margin: 1em;
}

/* Contact Page */
#contact-info {
    text-align: center;
    font-size: 20px;
}

#contact-info h2 {
    color: orange;
}

#message {
    resize: none;
    margin: 5px;
}

.contact-form label {
    text-align: start;
}

#map {
    text-align: center;
}

iframe {
    border-radius: 10px;
}

/* mobile css */
.navbutton {
    display: none;
}

/* large desktops */
@media (min-width: 1200px) {
    html {
        width: 1200px;
        margin: auto;
    }

    header,
    nav {
        box-shadow: 0 0 0 100vmax #333;
        clip-path: inset(0 -100vmax);
    }
}

/* smaller desktops
    keeps name on one line
    changes color of text on hover */
@media (max-width: 700px) {
    .header-name {
        font-size: 3em;
    }

    .header-name:hover {
        color: orangered;
    }

    #contact-info h1,
    h2 {
        font-size: 1.3em;
    }
}

/* Mobile */
@media (max-width: 35em) {
    .navbar {
        position: fixed;
        z-index: 900;

        background: hsl(0 0% 0% / 0.5);
        backdrop-filter: blur(1rem);

        inset: 0 0 0 60%;
        flex-direction: column;
        padding: min(20vh, 3em) 2em;
        gap: 2em;

        transform: translateX(100%);
        transition: transform 200ms ease-out;
    }

    .navbar[data-visible="true"] {
        transform: translateX(0%);
    }

    .navbutton {
        display: block;
        z-index: 999;
        background: transparent;
        border: none;
        position: fixed;
        top: 1rem;
        right: 2rem;
    }

    .navbutton[aria-expanded="true"] :is(.top-line, .bottom-line) {
        y: 45;
        transform-origin: center;
        transition: 500ms;
    }

    .navbutton[aria-expanded="true"] :is(.top-line) {
        rotate: 45deg;
    }

    .navbutton[aria-expanded="true"] :is(.bottom-line) {
        rotate: -45deg;
    }

    iframe {
        width: auto;
        height: 250px;
    }

    section {
        padding: 10px;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .skills-imgs,
    .skills-th {
        display: none;
    }

    .skills th {
        display: flex;
    }
}